<button
  (click)="resetSliders()"
  mat-raised-button
>
  Nollaa slaiderit
</button>

<mat-card *ngFor="let question of questions; let i = index">
  <mat-card-content *ngIf="admin">
    <h2 class="admin-h2">Slider {{ i + 1 }} configuration</h2>

    <section class="slider-admin-section">
      <mat-form-field class="admin-margin admin-width">
        <mat-label>Value</mat-label>
        <input [(ngModel)]="question.value" matInput type="number">
      </mat-form-field>
      <mat-form-field class="admin-margin admin-width">
        <mat-label>Min value</mat-label>
        <input [(ngModel)]="question.min" matInput type="number">
      </mat-form-field>
      <mat-form-field class="admin-margin admin-width">
        <mat-label>Max value</mat-label>
        <input [(ngModel)]="question.max" matInput type="number">
      </mat-form-field>
      <mat-form-field class="admin-margin admin-width">
        <mat-label>Step size</mat-label>
        <input [(ngModel)]="question.step" matInput type="number">
      </mat-form-field>
    </section>

    <section class="slider-admin-section">
      <mat-checkbox [(ngModel)]="question.showTicks">Show ticks</mat-checkbox>
    </section>

    <section class="slider-admin-section">
      <mat-checkbox [(ngModel)]="question.thumbLabel">Show thumb label</mat-checkbox>
    </section>

    <section class="slider-admin-section">
      <mat-checkbox [(ngModel)]="question.disabled">Disabled</mat-checkbox>
    </section>
  </mat-card-content>

  <mat-card class="result-card">
    <mat-card-content>
      <h3>Kysymys {{ i + 1 }}: </h3>
      <h4>{{ question.questionText }}</h4>

      <div class="label-container">
        <span>
        <label class="name-label">Vastaus: {{ question.answer }}</label>
        </span>
        <span>
        <label class="name-label">Arvo: {{ question.value }}</label>
        </span>
      </div>
      <mat-slider
        [disabled]="question.disabled"
        [discrete]="question.thumbLabel"
        [max]="question.max"
        [min]="question.min"
        [showTickMarks]="question.showTicks"
        [step]="question.step"
        class="margin"
      >
        <input
          [(ngModel)]="question.value"
          (input)="onSliderChange($event, question.value, question)"
          matSliderThumb>
      </mat-slider>
    </mat-card-content>
  </mat-card>
</mat-card>
