<h1>Testing!</h1>
<br>
<h3>
  {{ title }}
</h3>
<button (click)="narusPeppi()" mat-flat-button>{{ perusNappi }}</button> <-- klikkaa mua!
<br>
<button disabled mat-flat-button>{{ perusNappi }} ei käytössä!</button>
<br>
<mat-slider min="1" max="5" step="0.5">
  <input matSliderThumb value="1.5">
</mat-slider>
<br>
{{ nappi_teksti }}
<button mat-flat-button (click)="onButtonClicked()">vaihda/palauta oletusarvo</button>
<br>
<br>
<input [(ngModel)]="etuNimi"/>
<button mat-flat-button (click)="napinPainallus()">vaihda/palauta nimi</button>

<!--toisen komponentin tuominen -->
<br>
<br>
<h4>toisen komponentin tuominen (app-calc)</h4>
<app-calc></app-calc>
