<div class="container">
<h1>Testing!</h1>
  <hr>
<h3>
  {{ title }}
</h3>
  <hr>
<button (click)="narusPeppi()" mat-flat-button>{{ perusNappi }}</button> <-- klikkaa mua!
<br>
<button disabled mat-flat-button>{{ perusNappi }} ei käytössä!</button>

  <hr>
<mat-slider min="1" max="5" step="0.5">
  <input matSliderThumb value="1.5">
</mat-slider>
  <hr>
{{ nappi_teksti }}
<button mat-flat-button (click)="onButtonClicked()">vaihda/palauta oletusarvo</button>
  <hr>
<input [(ngModel)]="etuNimi"/>
  <br>
  <button (click)="napinPainallus()" mat-flat-button>vaihda/palauta nimi</button>
  <hr>
<!--toisen komponentin tuominen -->
<br>
<br>
  <h4>Toisen komponentin tuominen (app-calc)</h4>
  <br>
<app-calc></app-calc>
</div>
