<div class="wrapper column">
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="registerForm"
    class="wrapper column"
  >
    <h1 class="title">Rekisteröidy</h1>
    <ng-container *ngFor="let field of fields">
      <mat-form-field appearance="fill" class="field-container">
        <mat-label>{{ field.label }}</mat-label>
        <input
          [attr.type]="
            field.name === 'password'
              ? toggleVisibility()
                ? 'password'
                : 'text'
              : field.type
          "
          formControlName="{{ field.name }}"
          matInput
          name="{{ field.name }}"
          placeholder="{{ field.placeholder }}"
        />

        <button
          *ngIf="field.name === 'password'"
          mat-icon-button
          matSuffix
          type="button"
          (click)="clickEvent($event)"
        >
          <mat-icon>{{
              toggleVisibility() ? "visibility" : "visibility_off"
            }}
          </mat-icon>
        </button>
      </mat-form-field>

      <div *ngFor="let error of field.errors" class="error-container">
        <mat-error
          *ngIf="
            registerForm.get(field.name)?.hasError(error.type) &&
            registerForm.get(field.name)?.touched
          "
        >{{ error.message }}
        </mat-error
        >
      </div>
    </ng-container>
    <div class="term-container column align-left">
      <mat-checkbox
        class="field-container term-container"
        name="terms"
        formControlName="terms"
        labelPosition="after"
      >
        <mat-error *ngIf="!terms?.value">Hyväksy käyttöehdot</mat-error>
      </mat-checkbox>
    </div>
    <div class="gap-1 row">
      <button
        mat-raised-button
        [disabled]="!registerForm.valid"
        color="primary"
      >
        Rekisteröidy
      </button>
      <button (click)="cancel()" color="warn" mat-flat-button type="button">
        Sulje
      </button>
    </div>
  </form>
</div>
