.content {
  display: flex;
  justify-content: center;
  max-width: 1920px;
  width: 100%;
  margin: auto;
  background-color: #252a2c;
  min-height: 100dvh;
  padding-top: 75px;
}

.toolbar {
  position: fixed; /* or 'sticky' */
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it is above other elements */
}
