<div class="container">
<h1>Etusivu</h1>
  <hr>
  <h3>AL00CM23-3003-Front-end-tyokalut</h3>
  <hr>
  <h2>Laskin</h2>
  <p>
    Tämän piti olla yksinkertainen laskin, mutta se hieman paisui.
    Laskin osaa laskea yhteen, vähentää, kertoa, jakaa, korottaa potenssiin,
    käyttää sulkuja, ja tietenkin siinä on desimaalierotin. Muistiin voi laittaa
    ja sieltä voi kutsua. Ilmoituksia tulee, edellinen tulos näkyvissä jne.
    Lisäksi kokeilin tässä draggablea, laskinta voi liikuttaa yläpalkista.
    Laskin aukeaa dialogina valikosta, ja sen voi sulkea rastista oikeassa yläkulmassa.
  </p>
  <hr>
  <h2>Valikko</h2>
  <p>
    Kaikki valikon ikonit etsitty täältä:
    <a href="https://jossef.github.io/material-design-icons-iconfont/">
      https://jossef.github.io/material-design-icons-iconfont/
    </a>
  </p>
</div>

