<div class="container">

  <h1>Etusivu</h1>
  <hr>

  <h3>AL00CM23-3003-Front-end-tyokalut</h3>
  <p>
    Tämä on yksinkertainen Angular-sovellus / sivusto, joka on tehty LAB-AMK:n kurssin
    <a href="https://opinto-opas.lab.fi/realization/32066">AL00CM23-3003-Front-end-tyokalut'</a>
    harjoitustöinä. Sovellus koostuu useista eri näkymistä, joita voi navigoida vasemman
    laidan valikosta. Tässä näkymässä on kuvaus yksittäisten harjoitusten komponenteista jne.
  </p>
  <hr>

  <h4>Laskin</h4>
  <p>
    Tämän piti olla yksinkertainen nelilaskin, mutta minulla se hieman paisui..
    Laskin osaa laskea yhteen, vähentää, kertoa, jakaa, korottaa potenssiin,
    käyttää sulkuja, ja tietenkin siinä on desimaalierotin. Muistiin voi laittaa
    ja sieltä voi kutsua. Ilmoituksia tulee, edellinen tulos näkyvissä jne.
    Lisäksi kokeilin tässä draggablea, laskinta voi liikuttaa yläpalkista.
    Laskin aukeaa dialogina valikosta, ja sen voi sulkea rastista oikeassa yläkulmassa.
  </p>
  <hr>

  <h4>Palautesivu</h4>
  <p>
    Kuvaus tähän
  </p>
  <hr>

  <h4>Reititys näkymien välillä</h4>
  <p>Navigointi tapahtuu vasemman laidan valikosta joka aukeaa kuvakkeeesta jossa on kolme vaakaviivaa.
    Reiteissä määritetty otsikko (title) päivittyy niin selaimen välilehteen/ikkunan otsikkoriville
    kuin sivun yläreunaan.
    <br>
    Kaikki valikon ikonit etsitty täältä:
    <br>
    <a href="https://jossef.github.io/material-design-icons-iconfont/">
      https://jossef.github.io/material-design-icons-iconfont/
    </a>
  </p>
  <hr>

  <h4>Lomakkeen validointi (Template driven form)</h4>
  <p>
    Kuvaus tähän
  </p>
  <hr>

  <h4>Lomakkeen validointi (Reactive form)</h4>
  <p>
    Kuvaus tähän
  </p>
  <hr>

  <h4>Palveluluokka (Service)</h4>
  <p>
    Tein kaksi palvelua, jotka ovat käytössä tässä sovelluksessa. Toinen on
    feedback.service.ts, joka on yksinkertainen palvelu, joka tarjoaa metodin
    asettaa palautetehtävän arvon mukaan vastaus.
  </p>
  <p>
    Toinen palvelu on pop-up.service.ts, joka on yksinkertainen palvelu, joka tarjoaa
    metodin näyttää pop-up-ikkuna omalla sisällöllä. Ikkuna on toteutettu Angular Materialin dialogilla.
  </p>
  <hr>

  <h4>Julkaisupaketin luominen</h4>
  <p>
    Tämä sovellus löytyy myös julkaistuna osoitteesta:
    <a href="https://onnenikumara.github.io/AL00CM23-3003-Front-end-tyokalut" target="_blank">
      https://onnenikumara.github.io/AL00CM23-3003-Front-end-tyokalut</a>
  </p>
  <hr>

</div>
