/* Kun kompnentti laukaistaan dialogina, pitää ohittaa dialogin oletus muotoilu,
 jumitin tätä kohtaa noin 2-3 h etsien tietoa netistä ja kokeillen oli
 muuten todella turhauttavaa.. JA TÄMÄN ON JUMANKAUTA OLTAVA TÄSSÄ
 CSS TIEDOSTOSSA YLIMPÄNÄ!! MITEN NÄITÄ VOI TIETÄÄ?
 */

/* Kortin (laskimen päätausta) perusmuotoilu */
.calc-card {
  display: flex;
  flex-direction: column; /* Sisällön pystysuuntainen järjestys */
  width: 400px;
  height: 650px;
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  justify-content: flex-start;
  align-items: normal;
  text-align: center;
  border-radius: 5px;
  z-index: 1;
  /* varjot */
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgb(99, 140, 157),
  0 2px 2px 0 rgb(99, 140, 157),
  0 1px 5px 0 rgb(99, 140, 157);
}

::ng-deep .mat-mdc-dialog-surface {
  border-radius: 5px !important;
}


/* Kortin (laskimen päätausta) korostus aktiivisena */
.calc-card:active {
  box-shadow: 0 5px 5px -3px rgb(173, 230, 223),
  0 8px 10px 1px rgb(173, 230, 223),
  0 3px 14px 2px rgb(173, 230, 223);
}

/* Kortin 'vetokahvan ja 'dragbarin' tyylit */
.drag-bar-cdk-drag-handle {
  position: relative;
  color: #ade6df;
  cursor: move;
  width: 100%;
  height: 30px;
  background-color: #638c9d;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px; /* Add some padding for spacing */
}

.drag-bar-cdk-drag-handle span {
  display: flex;
  align-items: center;
}

.drag-bar-cdk-drag-handle span:nth-child(2) {
  flex-grow: 1;
  justify-content: center;
}

.drag-bar-cdk-drag-handle button mat-icon {
  color: #ade6df; /* sulkemis ikonin värin muuttaminen samaksi kuin muut */
}

/* Yläosan laskimen ja tulosten alue */
.calc-card-calAndRes {
  display: flex;
  align-items: center; /* Vertically centers the content */
  justify-content: center; /* Horizontally centers the content */
  height: 50px;
  text-align: justify;
  padding: 10px; /* Adds some inner padding */
  background-color: #ade6df; /* Highlighted background */
  border: 3px solid #638c9d; /* Light border */
  border-radius: 5px; /* Rounded corners */
  margin: auto; /* Small gap between sections */

}

/* Muistien ja ilmoitusten alue */

.calc-card-memAndNotice {
  height: 50px;
  text-align: justify;
  padding: 5px; /* Lisää hieman sisätilaa */
  background-color: #e8e8e8; /* Eroava taustaväri */
}

/* Lisätyylit yleiseen ulkoasuun */

.calc-card-calAndRes,
.calc-card-memAndNotice {
  border: 1px solid #d9d9d9; /* Kevyt reunus */
  border-radius: 5px; /* Pyöristetyt reunat */
  margin-bottom: 10px; /* Pieni välimatka osioiden välillä */
}

/* Painikkeiden alue */

.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 saraketta */
  gap: 10px; /* Välimatka painikkeiden välillä */
  padding: 10px; /* Lisää hieman sisätilaa */
  border-radius: 5px; /* Pyöristetyt reunat */
}
