<mat-card
  *ngIf="active"
  appearance="outlined"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  class="calc-card"
>

  <!-- 'vetokahva/dragbar' -->
  <div cdkDragHandle
       class="drag-bar-cdk-drag-handle"
  >
    <!-- svg siirto-ikoni -->
    <span>
      <svg fill="currentColor" viewBox="0 0 24 24" width="24px">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
    </span>
    <!-- laskimen otsikko -->
    <span>Calculator</span>

    <!-- sulje-nappi -->
    <span>
    <button (click)="onClose()"
            mat-dialog-close
            mat-icon-button

    >
      <mat-icon>close</mat-icon>
    </button>
      </span>
  </div>

  <!-- laskimen kortin sisältö -->
  <mat-card-content>


    <mat-card appearance="outlined"
              class="calc-card-calAndRes">

      <!-- laskutoimitus -->
      <mat-card-title>{{ calculation }}</mat-card-title>

    </mat-card>

    <mat-card appearance="outlined"
              class="calc-card-calAndRes">

      <!-- tulos -->
      <mat-card-title>= {{ result }}</mat-card-title>
    </mat-card>

    <mat-card class="calc-card-memAndNotice" appearance="outlined">

      <!-- edellinen tulos -->
      <mat-card-title>ed. tulos: {{ previous }}</mat-card-title>
    </mat-card>

    <mat-card class="calc-card-memAndNotice" appearance="outlined">

      <!-- muistiin laittaminen -->
      <mat-card-title>MemSto: {{ memSto }}</mat-card-title>
    </mat-card>

    <mat-card class="calc-card-memAndNotice" appearance="outlined">

      <!-- ilmoitukset -->
      <mat-card-title>ilmoitukset: {{ notices }}</mat-card-title>
    </mat-card>

    <mat-grid-list cols="4" rowHeight="40px">
      <!-- napit for loopilla -->
      <mat-grid-tile
        *ngFor="let button of buttons">
        <button
          (click)="addValue(button)"
          class="calc-buttons"
          mat-stroked-button>
          {{ button }}
        </button>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>
</mat-card>

<!-- jos laskin ei ole aktiivinen eikä dialogissa, näytetään vain 'palautusnappi' -->
<div *ngIf="!active && !isInDialog()">
  <button
    (click)="active = true"
    *ngIf="!active"
    mat-raised-button>

    palauta laskin

  </button>
</div>
