<mat-card
  *ngIf="active"
  appearance="outlined"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  class="calc-card"
>

  <!-- 'vetokahva/dragbar' -->
  <div cdkDragHandle
       class="drag-bar-cdk-drag-handle"
  >
    <!-- svg siirto-ikoni -->
    <span>
      <svg fill="currentColor" viewBox="0 0 24 24" width="24px">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
    </span>
    <!-- otsikko -->
    <span>Lainalaskuri</span>

    <!-- sulje-nappi -->
    <span>
    <button (click)="onClose()"
            mat-dialog-close
            mat-icon-button

    >
      <mat-icon>close</mat-icon>
    </button>
      </span>
  </div>

  <!-- kortin sisältö -->
  <mat-card-content>

    <!-- lainan määrä -->
    <mat-card
      appearance="outlined"
      class="calc-card-calAndRes">
      <mat-card-title>Lainan määrä: {{ this.loanApplication.loanAmount }} €</mat-card-title>
    </mat-card>

    <mat-slider
      [max]="10000"
      [min]="500"
      [step]="100"
      class="margin">
      <input
        [(ngModel)]="loanApplication.loanAmount"
        matSliderThumb>
    </mat-slider>

    <!-- lainan aika -->
    <mat-card
      appearance="outlined"
      class="calc-card-calAndRes">
      <mat-card-title>Laina-aika: {{ this.loanApplication.loanDuration }} vuotta.</mat-card-title>
    </mat-card>

    <mat-slider
      [max]="10"
      [min]="1"
      [step]="1"
      class="margin">
      <input
        [(ngModel)]="loanApplication.loanDuration"
        matSliderThumb>
    </mat-slider>

    <!-- Arvioitu kuukausierä -->
    <mat-card
      appearance="outlined"
      class="calc-card-calAndRes">
      <mat-card-title>Arvioitu kk-erä:

        <!--
         Kuukausiarvio tässä, mutta voisi olla myös .ts tiedostossa,
        piti etsiä netistä tieto miten tässä saisi järkevästi kahden desimaalin
        tarkkuuteen, päädyin käyttämään tuota .toFixediä.
        lähde: https://www.reddit.com/r/typescript/comments/efid2b/how_to_round_to_2_decimal_places_with_typescript/
        -->

        {{ loanApplication.calculateMonthlyCost(9.5).toFixed(2) }} €.
      </mat-card-title>
    </mat-card>
    <hr>

  </mat-card-content>
</mat-card>

<!-- jos lainalaskuri ei ole aktiivinen eikä dialogissa, näytetään vain 'palautusnappi' -->
<div *ngIf="!active && !isInDialog()">
  <button
    (click)="active = true"
    *ngIf="!active"
    mat-raised-button>

    palauta lainalaskuri

  </button>
</div>

